body {
  margin: 0;
  padding: 0;
}
.page_layout {
  width: 1600px;
  height: 850px;
  background-color: #002547;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

header img {
  width: 789.46px;
  height: 936.93px;
  margin-left: 819px;
}

.navigation {
  width: 1137.82px;
  height: 53px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navigation a {
  font-family: "Poppins", sans-serif;
  color: #ffff;
  margin: 50px 30px;
}
